{% extends 'layout.html' %}
{% from 'macros.html' import field, input, textfield, checkbox, ckeditor %}

{% block content %}
<p>
{{ contact.lastname }}, {{ contact.firstname }}
</p>
{{ input(name="test", label="test", size="is-small") }}
{{ input(name="test", label="test", size="is-medium") }}
{{ input(name="test", label="test", size="is-large") }}
{{ field(name="firstname", label="First Name", value=contact.firstname) }}
{{ field(name="lastname", label="Last Name", value=contact.lastname) }}
{{ field(name="email", label="Email", value=contact.email, licon="fa-envelope") }}
{{ textfield(name="notes", label="Notes", value=contact.notes) }}
{{ checkbox(name="is_active",label="User is active",checked=contact.is_active) }}
{{ ckeditor(name="abstract",label="Enter Your Abstract") }}
{{ field(name="firstname", label="First Name", value=contact.firstname, size="is-small") }}
{{ field(name="lastname", label="Last Name", value=contact.lastname, size="is-small") }}
{{ field(name="email", label="Email", value=contact.email, licon="fa-envelope", size="is-small") }}
{{ textfield(name="notes", label="Notes", value=contact.notes, size="is-small") }}
{% endblock %}