{% extends 'layout.html' %}

{% import 'macros.html' as bulma %}

{% block title %}Página de Ejemplo{% endblock %}
{% block content %}
<h1>Formulario con BULMA</h1>
<form>
{{ bulma.input(name="username", label="", value=some_username) }}
{{ bulma.field(name="email", label="Email", value=some_email, licon="fa-envelope") }}
{{ bulma.textfield(name="comments", label="Comentario") }}

<!-- buttons are too simple, so I don't use a macro approach -->
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>

</form>
{% endblock %}